.form {
    width: 300px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 5px 2px;
    width: 80px;
}

.title {
    margin: 5px;
}